* {
  box-sizing: border-box;
  text-align: center;
  font-size: 1.2vw;
}

p{
  margin: 0;
}

.app-wrapper {
  margin: 3%;
}

.row-wrapper {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.items {
  width: 75%;
  display: flex;
}
.buttons {
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.item {
  width: 25%;
  border: 1px solid gray;
  height: 50px;
  justify-content: center;
  align-items: center;
  display: flex;
  overflow: hidden;
  padding: 0;
}

.button {
  width: 50%;
}

button {
  margin: 5%;
}
