* {
  box-sizing: border-box;
  /* text-align: center; */
  font-size: 1.2vw;
  /* box-sizing: content-box; */
}

p{
  /* margin: 0; */
}

.app-wrapper {
  display: flex;
  max-width: 900px;
  flex-direction: column;
  margin: 5%;
  /* border: 1px solid gray; */
}

.row-wrapper {
  display: flex;
  flex-direction: row;
  max-width: 900px;
  width: 100%;
}

.items {
  width: 100%;
  display: flex;
}
.buttons {
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.item {
  width: 25%;
  border: 1px solid gray;
  height: 50px;
  justify-content: center;
  align-items: center;
}
.button {
  width: 50%;
}